ul {
    list-style-type: none;
}
.mainUl {
    display: flex;
    gap: 40px;
}
.outerLi {
    position: relative;
}
.outerLi::before {
    content: '';
    left: 8px;
    top: 15px;
    background: #cfcfcf;
    display: inline-block;
    width: 2px;
    height: 67%;
    position: absolute;
}
.innerLi {
    position: relative;
}
.innerLi::before {
    content: '';
    left: -12px;
    top: 8px;
    background: #cfcfcf;
    display: inline-block;
    width: 16px;
    height: 2px;
    position: absolute;
}

@media (max-width: 680px) {
    .mainUl {
        gap: 10px;
    }
}

li {
    margin-top: 8px;
}


.innerUl {
        padding-left: 20px;
}